@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
* {
    background-color: #FDA97C;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
  }
/*body{
  background-image: linear-gradient(15deg,#FDA97C 0%, #DE575C 100%);	
}*/
  .main-box {
    align-items: center;
    float: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20%;
   
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20%;
    
}
.one {
  grid-column: 1 / 4;
  grid-row: 1/2;
}
#eis{
  width: 100%;
  height: 60%;
}
.two { 
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin-bottom: 0%;
}
.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}
.three {
  grid-column: 1/ 4;
  grid-row: 3 / 4;
  margin: 0;
}

.date-picker {
	position: relative;
	width: 100%;
	max-width: 320px;
	height: 60px;
	background-color: #BC304C;
	margin: 30px auto;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

	cursor: pointer;
	user-select: none;
}
.mth{
  color: #3E3A44;
}
.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #FF886B;
	color: #3E3A44;
	font-size: 22px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #BC304C;
}

.date-picker .dates.active {
	display: block;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
  align-items: center;
  
	border-bottom: 2px solid #BC304C;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: #00CA85;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day.selected {
	background-color: #BC304C;
}
.four {
  grid-column: 1/4;
  grid-row: 4/5;
}
.five {
  grid-column: 1/4;
  grid-row: 5/6;
}
.six {
  grid-column: 1/4;
  grid-row: 6/7;
}

.box{
  border: 1px solid #3E3A44;
  margin: 0;
}
#standortinfo {
  float: left;
 margin-left: 0%;
}
 nav {
  margin: auto;
  margin-top: 2px;
  position: relative;
  width: 50vw;
  min-width: 320px;
  height: 100px;
 }
nav.mensenmenue{
  border-radius: 2px;
  position: relative;
  background: #FF886B;
  height: 40px;
  text-transform: uppercase;
  color: #3E3A44;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}

nav h2 {
  border-radius: 2px;
  position: relative;
  background: #FF886B;
  height: 40px;
  text-transform: uppercase;
  color: #3E3A44;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
 }

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

#toggle:checked ~ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
  
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: tomato;
  
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

nav ul li:hover {
  background: mediumorchid;
 
}

nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}
}
#gotoinfo {
  border-bottom: 1px solid #3E3A44 ;
}
  .mdc-bottom-navigation {
    height: 56px;
    background-color: #DE575C;
  }
  .mdc-bottom-navigation-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #DE575C;
  }
  .mdc-bottom-navigation-list-item {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    min-width: 60px;
    max-width: 168px;
    background-color: #DE575C;
    user-select: none;
  }
  .mdc-bottom-navigation-list-item-text {
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 0.75rem;
    background-color: #DE575C;
    color: white;
  }
  .mdc-bottom-navigation
    .mdc-bottom-navigation-list-item
    .mdc-bottom-navigation-list-item-icon {
    padding-top: 8px;
  }
  .mdc-bottom-navigation-list-item-icon {
    color: white;
    background-color:#DE575C;
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 8;
  }
  
  .top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
  }
  
  .mdc-top-navigation {
    height: 56px;
    background-color: #FDA97C;
  }


  
  .mdc-top-navigation-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:#FDA97C;
    border-top: 1px solid #3E3A44 ;
  }
  .mdc-top-navigation-list-less{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:#FDA97C;
  }


  .mdc-top-navigation-list-item-menu-container {
    flex: 1 1 0;
    display: flex;
    justify-content: left;
    background-color:#FDA97C;
  }

  .mdc-top-navigation-list-item-title-container {
    flex: 1 1 0;
    display: flex;
    justify-content: left;
    background-color:#FDA97C;
    min-width: 200px;
    margin-left: 10px;
    
  }
  .logooben{
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 8px;
  }
  .infobeschreibung {
    flex: 1 1 0;
    display: flex;
    margin-left: 5%;
    justify-content: left;
    background-color: #FDA97C;
    min-width: 200px;
    font-size: 22px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  #hintergrund{
    background-color: #FDA97C;
  }
  #iconinfoabstand{
    margin-right: 5%;
  }
  #hintergrund2{
    background-color: #FDA97C;
  }
  #iconinfoabstand2{
    margin-right: 5%;
  }
  #hintergrund3{
    background-color: #FDA97C;
  }
  #iconinfoabstand3{
    margin-right: 5%;
  }
  #hintergrund4{
    background-color: #FDA97C;
  }
  #iconinfoabstand4{
    margin-right: 5%;
  }
  #hintergrund5{
    background-color:#FDA97C;
  }
  #iconinfoabstand5{
    margin-right: 5%;
  }
  #hintergrund6{
    background-color: #FDA97C;
  }
  #iconinfoabstand6{
    margin-right: 5%;
  }
  #hintergrund7{
    background-color: #FDA97C;
  }
  #iconinfoabstand7{
    margin-right: 5%;
  }
  .mdc-top-navigation-list-item-back-container {
    flex: 1 1 0;
    display: flex;
    justify-content: left;
    background-color: #FDA97C;
    margin-top: 10px;
  }
  
  .mdc-top-navigation-list-item-title {
    margin-top: 17px;
    margin-bottom: auto;
    justify-content: left;
    background-color: #FDA97C;
    font-size: 28px;
  }
  
  .mdc-top-navigation-list-item-menu {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #ffffff;
    background-color:#FDA97C;
    justify-content: left;
  }
  
  .mdc-top-navigation-list-item-back {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 32px;
    color: #ffffff;
    background-color: #FDA97C;
  }