/**
* mensa.css
* 
* Stylesheet für die komplette App. Alle Icons Bilder und sonstige Features werden in dieser CSS Datei gestylt,
* was die Grundlage der App ausmacht.
* googele fonts werden importiert zur Gestaltung.
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
* {
  background-color: #fda97c;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #313131;
}
/*body{
  background-image: linear-gradient(15deg,#FDA97C 0%, #DE575C 100%);	
}*/
.main-box {
  align-items: center;
  float: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 20%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 10px;
}
tr {
  display: grid;
  margin-bottom: 7px;
  align-items: top;
  background-color: #ff886b;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-spacing: 16px 8px;
  width: 103%;
  margin-right: 5%;
}

#detailinfo:focus + div#showdetail {
  display: block;
}
.one {
  grid-column: 1 / 4;
  grid-row: 1/2;
  background-color: transparent;
}
#eis {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
}

#meal {
  margin-left: 3%;
  margin-right: 1.5%;
  margin-bottom: 20%;
}
.two {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin-left: 10px;
  margin-right: 10px;
}
.select-css {
  width: 100%;
  height: 100%;
  font-size: 22px;
  float: left;

  margin-right: 5%;
  cursor: pointer;
  border-radius: 0;
  background-color: #ff886b;
  border: none;
  color: #3e3a44;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.dropdown-container {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
}
/* For IE <= 11 */
.select-css::-ms-expand {
  display: none;
}

.select-css:hover,
.select-css:focus {
  color: #3e3a44;
  background-color: #ff886b;
}

.three {
  grid-column: 1/ 4;
  grid-row: 3 / 4;
}

.date-picker {
  margin-right: 3%;
  margin-left: 3%;
  position: relative;
  height: 40px;
  background-color: #de575c;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}
.mth {
  color: #3e3a44;
}
.date-picker:hover {
  background-color: #bc304c;
}

.date-picker .selected-date {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff886b;
  color: #3e3a44;
  font-size: 22px;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #bc304c;
}

.date-picker .dates.active {
  display: block;
}

.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #bc304c;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #ff886b;
}

.date-picker .dates .month .arrows:active {
  background-color: #bc304c;
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 200px;
}
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}
.date-picker .dates .days .day.selected {
  background-color: #bc304c;
}
.four {
  grid-column: 1/4;
  grid-row: 4/5;
}
.food {
  grid-column: 2;
  grid-row: 1;
  float: left;
  background-color: #ff886b;
  color: #3e3a44;
}
#detailinfo {
  grid-column: 3;
  grid-row: 1;
  float: left;
  margin-bottom: 35%;
  background-color: #de575c;
  border: 2px solid #bc304c;
  margin-right: 10%;
  cursor: pointer;
}
#detailinfo:focus + #showdetail {
  display: block;
}
.preisstudents {
  grid-column: col 1 / span 3;
  grid-row: 2;
  float: inline-end;
  text-align: center;
  margin-left: 25%;
  
  background-color: #de575c;
  border: 2px solid #bc304c;
}
.five {
  grid-column: 1/2;
  grid-row: 4/5;
}
.six {
  grid-column: 1/4;
  grid-row: 6/7;
}

#bildessen {
  grid-column: 1;
  grid-row: 2;
}
#kuh {
  grid-column: 1;
  grid-row: 2;
  width: 25px;
  height: 25px;
  margin-left: 40%;
  margin-bottom: 5px;
  position: relative;

  margin-right: 1%;
  background-color: #ff886b;
}
.foodpic {
  grid-column: 1;
  grid-row: 1/2;
  width: 100px;
  height: 100px;
  border: 2px solid #bc304c;
}

#menulog {
  width: 10%;
  height: 10%;
  position: relative;
  float: right;
  margin-right: 1%;
  background-color: #ff886b;
}
.box {
  border: 1px solid #3e3a44;
  margin: 0;
}
#standortinfo {
  float: left;
  margin-left: 0%;
}
nav {
  margin: auto;
  margin-top: 2px;
  position: relative;
  width: 50vw;
  min-width: 320px;
  height: 100px;
}
nav.mensenmenue {
  border-radius: 2px;
  position: relative;
  background: #ff886b;
  height: 40px;
  text-transform: uppercase;
  color: #3e3a44;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav h2 {
  border-radius: 2px;
  position: relative;
  background: #ff886b;
  height: 40px;
  text-transform: uppercase;
  color: #3e3a44;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav:hover h2 {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
}
nav:hover:active h2 {
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.35);
}

input {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  height: 40px;
}

#toggle:checked ~ ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all 0.4s ease-out;
  height: 100%;
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: tomato;

  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li:hover {
  background: mediumorchid;
}

nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color 0.3s;
}

#gotoinfo {
  border-bottom: 1px solid #3e3a44;
}
.mdc-bottom-navigation {
  height: 56px;
  background-color: #de575c;
}
.mdc-bottom-navigation-list {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #de575c;
}
.mdc-bottom-navigation-list-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  min-width: 60px;
  max-width: 168px;
  background-color: #de575c;
  user-select: none;
}
.mdc-bottom-navigation-list-item-text {
  padding-top: 4px;
  padding-bottom: 10px;
  font-size: 0.75rem;
  background-color: #de575c;
  color: white;
}
.mdc-bottom-navigation
  .mdc-bottom-navigation-list-item
  .mdc-bottom-navigation-list-item-icon {
  padding-top: 8px;
}
.mdc-bottom-navigation-list-item-icon {
  color: white;
  background-color: #de575c;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 8;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}

.mdc-top-navigation {
  height: 56px;
  background-color: #fda97c;
}

.mdc-top-navigation-list {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fda97c;
  border-top: 1px solid #3e3a44;
}
.mdc-top-navigation-list-less {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fda97c;
}

.mdc-top-navigation-list-item-menu-container {
  flex: 1 1 0;
  display: flex;
  justify-content: left;
  background-color: #fda97c;
}

.mdc-top-navigation-list-item-title-container {
  flex: 1 1 0;
  display: flex;
  background-color: #fda97c;
  min-width: 200px;
  margin-left: 10px;
}
#logo {
  width: 45px;
  height: 45px;
  margin-right: 0px;
  margin-top: 17px;
  position: absolute;
  bottom: 5px;
  right: 20px;
}
.infobeschreibung {
  flex: 1 1 0;
  display: flex;
  margin-left: 5%;
  justify-content: left;
  background-color: #fda97c;
  min-width: 200px;
  font-size: 22px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
#hintergrund {
  background-color: #fda97c;
}
#iconinfoabstand {
  margin-right: 5%;
}
#hintergrund2 {
  background-color: #fda97c;
}
#iconinfoabstand2 {
  margin-right: 5%;
}
#hintergrund3 {
  background-color: #fda97c;
}
#iconinfoabstand3 {
  margin-right: 5%;
}
#hintergrund4 {
  background-color: #fda97c;
}
#iconinfoabstand4 {
  margin-right: 5%;
}
#hintergrund5 {
  background-color: #fda97c;
}
#iconinfoabstand5 {
  margin-right: 5%;
}
#hintergrund6 {
  background-color: #fda97c;
}
#iconinfoabstand6 {
  margin-right: 5%;
}
#hintergrund7 {
  background-color: #fda97c;
}
#iconinfoabstand7 {
  margin-right: 5%;
}
.mdc-top-navigation-list-item-back-container {
  flex: 1 1 0;
  display: flex;
  justify-content: left;
  background-color: #fda97c;
  margin-top: 10px;
}

.mdc-top-navigation-list-item-title {
  margin-top: 10px;
  margin-bottom: auto;
  justify-content: left;
  background-color: #fda97c;
  font-size: 28px;
  color: #3e3a44;
}

.mdc-top-navigation-list-item-menu {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #3e3a44;
  background-color: #fda97c;
  justify-content: left;
}

.mdc-top-navigation-list-item-back {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 32px;
  color: #ffffff;
  background-color: #fda97c;
}
/* -----------------Mensen Übersicht------------- */
.wrapperMensa {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 10px;
}
.inputmensasuche {
  margin-top: 15%;
  height: 30px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ff8f73;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  color: #313131;
}

.mensengid1 {
  grid-column: 1 / 4;
  grid-row: 1/2;
}
.mensengid2 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
.mensengrid3 {
  height: 100%;
  grid-column: 1/ 4;
  grid-row: 3 / 4;
  width: 100%;
}
.mensengridprofil {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  height: 100%;
  width: 100%;
}
.mensengrid4 {
  grid-column: 1 / 4;
  grid-row: 5 / 6;

  width: 100%;
}
#mensen_liste {
  align-items: center;
  margin-top: 10px;
}
.mensen-option {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
  height: 30px;
  z-index: 2;
  font-weight: bold;
  color: white;
  background-color: transparent;
  max-width: 100%;
}
#namemensen {
  grid-column: 1 / 2;
  grid-row: 1;
}
.mensenpic {
  grid-column: 1;
  grid-row: 1/2;
  width: 100px;
  height: 100px;
  border: 2px solid #bc304c;
}
#mensaname {
  grid-column: 1;
  grid-row: 2;
  width: 25px;
  height: 25px;
  margin-left: 40%;
  margin-bottom: 5px;
  position: relative;

  margin-right: 1%;
  background-color: #ff886b;
}
.defaultmensapic {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}

.mensadetailclasse {
  width: 90%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: transparent;
  color: white;
}
btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.glow-on-hover {
  width: 95%;
  margin-left: 2%;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #3e3a44;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #fda97c,
    #ff886b,
    #de575c,
    #bc304c,
    #3e3a44,
    #de575c,
    #fda97c,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #3e3a44;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3e3a44;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#background {
  background-color: #3e3a44;
}
.wenipic {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}
.wilhelminenhof {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}
.infostatus {
  grid-column: 1 / col 2;
  grid-row: 1;
  width: 90%;
  float: left;
  margin-top: 30%;
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #3e3a44;
  background-color: #ff886b;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.studentenstatus {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  float: left;
  margin-top: 9%;
  font-size: 25px;
  margin-left: 13%;
  margin-right: 5%;
  z-index: 3;
}
.angestellterstatus {
  grid-column: 2;
  grid-row: 3;
  width: 90%;
  float: left;
  margin-top: 5%;
  font-size: 25px;
  margin-left: 0%;
  margin-right: 5%;
}
.gaststatus {
  grid-column: 2;
  grid-row: 3;
  width: 90%;
  float: left;
  margin-top: 5%;
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
}
/* ------------------------- Label ------------------

*/
.studentenstyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
  background-color: #ff886b;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.angestellterstyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
  background-color: #ff886b;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.gaststyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
  background-color: #ff886b;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
#studentcheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
#angestelltercheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
#gastcheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
.schweinstyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
}
#scheincheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
.rindstyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
}
#rindcheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
.veganstyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
}
#vagancheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
.vegistyle {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 25px;
}
#vegicheck {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 1.5%;
}
.logotitel {
  font-size: 40px;
  margin-left: 19%;
  display: block;
  align-items: center;
  font-family: "Dancing Script", cursive;
  letter-spacing: 5px;
  text-shadow: 2px 5px 10px rgba(129, 24, 24, 0.5);
  color: #b42a2e;
}

#map {
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 80%;

  z-index: -1;
}
.hallo {
  font-size: 72px;
}
.marker {
  background-image: url(images/location_on-black-18dp.svg);
  background-size: cover;
  background-color: #fda97c;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.standortbestimmen {
  margin-top: 100px;
}
.markerhome {
  background-size: cover;
  background-color: #3e3a44;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.datenschutz {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
  color: #313131;
}
.datenschutheader {
  font-size: 29px;
}
.wrapperdatenschutz {
  color: #313131;
}
ul {
  width: 70%;
}
.impressumtabel {
  float: left;
  background-color: #ff886b;
}
.impresusm {
  margin-top: 20%;
  background-color: #ff886b;
}

#liststyle {
  margin-top: 15%;
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}
.liststyle:last-child {
  border: none;
}
.liststyle :hover {
  font-size: 30px;
  background: black;
}
#Bildstudierendenwerk{
  width: 90%;
  margin-left: 5%;
  margin-top: 30%;
  height: 90%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.klickeninfo{
  margin-left: 5%;
}
.geolocation{
  width: 100%;
}

.halberstadt {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}
.hannover {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}

.mensafu {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}
.treskow{
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 50%;
  float: left;
  filter: blur(0.5px);
  background-color: #3e3a44;
}
#vegilogo{
width: 20px;
height: 20px;
background-color:#ff886b ;
}